<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head', {title: "Add new author"}) %>
        <link rel="stylesheet" href="/styles/forms.css" />
        <link rel="stylesheet" href="/styles/authors.css" />
    </head>
    <body>
        <%- include('includes/header') %>
        <main>
            <h1>Authors</h1>
            <div>
                <h2>Current authors</h2>
                <% if (!authors || authors.length===0) { %>
                <p>No authors were found.</p>
                <% } else { %>
                <ul id="authors-list">
                    <% for( const author of authors ) { %>
                    <li>
                        <a href=""><%= author.name %></a>
                        <button class="btn btn-alt">Delete</button>
                    </li>
                    <% } %>
                </ul>
                <% } %>
            </div>
            <form action="/authors" method="POST">
                <h2>Add a new person</h2>
                <div class="form-control">
                    <label for="author-name">Author name</label>
                    <input
                        type="text"
                        id="author-name"
                        name="author-name"
                        required
                        maxlength="255"
                    />
                </div>
                <button type="submit" class="btn">Add Author</button>
            </form>
        </main>
    </body>
</html>
