<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head', {title: "Add new author"}) %>
        <link rel="stylesheet" href="/styles/forms.css" />
        <link rel="stylesheet" href="/styles/authors.css" />
    </head>
    <body>
        <%- include('includes/header') %>
        <main>
            <h1>Authors</h1>
            <section>
                <h2>Current authors</h2>
                <% if (!authors || authors.length===0) { %>
                <p>No authors were found.</p>
                <% } else { %>
                <form method="POST">
                    <ul id="authors-list">
                        <% for( const author of authors ) { %>
                        <li class="author-box">
                            <a><%= author.name %></a>
                            <button
                                type="submit"
                                class="btn btn-alt"
                                formaction="authors/<%= author._id %>/delete"
                            >
                                Delete
                            </button>
                        </li>
                        <% } %>
                    </ul>
                </form>
                <% } %>
            </section>
            <section>
                <h2>Add a new person</h2>
                <form action="/authors" method="POST" enctype="multipart/form-data">
                    <div class="form-control">
                        <label for="author-name">Name</label>
                        <input
                            type="text"
                            id="author-name"
                            name="author-name"
                            required
                            maxlength="255"
                        />
                    </div>
                    <div class="form-control">
                        <label for="author-image">Image</label>
                        <input
                            type="file"
                            name="author-image"
                            id="author-image"
                            accept="image/jpeg,image/png"
                            required
                        />
                    </div>
                    <button type="submit" class="btn">Add Author</button>
                </form>
            </section>
        </main>
    </body>
</html>
