<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head', { title: 'Sign up' }) %>
    <link rel="stylesheet" href="/styles/forms.css">
</head>

<body>
    <%- include('includes/header') %>
    <main>
        <h1 class="form-heading">Create a new account!</h1>
        <form action="/signup" method="POST">
            <div class="form-control">
                <label for="user-name">Name</label>
                <input type="text" id="user-name" name="user-name" required minlength="2">
            </div>
            <div class="form-control">
                <label for="user-email">E-mail</label>
                <input type="email" id="user-email" name="user-email" required maxlength="254">
            </div>
            <div class="form-control">
                <label forconfirm-="user-email">Confirm e-mail</label>
                <input type="email" id="user-confirm-email" name="user-confirm-email" required maxlength="254">
            </div>
            <div class="form-control">
                <label for="user-password">Password</label>
                <input type="password" id="user-password" name="user-password" required minlength="8" maxlength="254">
            </div>
            <div class="form-control">
                <label for-confirm="user-password">Confirm password</label>
                <input type="password" id="user-confirm-password" name="user-confirm-password" required minlength="8" maxlength="254">
            </div>
            <button class="btn">Create account</button>
            <a href="/login">Already have an account?</a>
        </form>
    </main>
</body>

</html>