form {
    max-width: 100%;
    margin: 0 0;
}

#authors-list {
    box-sizing: border-box;
    text-align: center;
    border: 3px solid var(--color-clear-2);
    border-radius: 15px;
    margin: 20px auto 50px auto;
    padding: 50px;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.author-box {
    border: rgba(0, 0, 0, 0.3) 2px solid;
    padding: 1rem 1.5rem;
    height: 3rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.author-box a {
    font-weight: bold;
    padding: 0px 1.5rem;
}

.author-box img {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    object-fit: cover;
}