#authors-list {
    box-sizing: border-box;
    max-width: 50%;
    text-align: center;
    border: 3px solid var(--color-clear-2);
    border-radius: 15px;
    margin: 20px auto 50px auto;
    padding: 50px;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

#authors-list div {
    width: 150px;
    max-height: 50px;
}
